/* @Project: JavaScript Slingo */
/* @Author:  nick99nack */
/* @Contact: spybob888 at aol dot com */
/* @Created: 4:53 PM Tuesday, January 12, 2021 */

#bg{
		position:absolute;
		top:0px;
		left:0px;
		z-index:-1;
}

/* Game Tiles */

.cardcell{
		position:absolute;
		width: 53px;
		height: 39px;
		text-align:center;
		font-family: "Times New Roman", Times, serif;
		font-style: italic;
		font-weight: bold;
		font-size:31px;
		padding-top:0px;
		_padding-left:7px;
}

.cardcell:hover{
	border: 2px solid red;
	margin-top:-2px;
	margin-left:-2px;
	cursor:pointer
}

#A1{top:154px; left:186px}
#A2{top:154px; left:259px}
#A3{top:154px; left:332px}
#A4{top:154px; left:405px}
#A5{top:154px; left:478px}

#B1{top:206px; left:186px}
#B2{top:206px; left:259px}
#B3{top:206px; left:332px}
#B4{top:206px; left:405px}
#B5{top:206px; left:478px}

#C1{top:259px; left:186px}
#C2{top:259px; left:259px}
#C3{top:259px; left:332px}
#C4{top:259px; left:405px}
#C5{top:259px; left:478px}

#D1{top:313px; left:186px}
#D2{top:313px; left:259px}
#D3{top:313px; left:332px}
#D4{top:313px; left:405px}
#D5{top:313px; left:478px}

#E1{top:366px; left:186px}
#E2{top:366px; left:259px}
#E3{top:366px; left:332px}
#E4{top:366px; left:405px}
#E5{top:366px; left:478px}

/* Slots */

.slots{
	position:absolute;
	width: 58px;
	height: 50px;
	background-image:url('./img/blankslot.gif');
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	font-size:40px;
	padding-top:0px;
	_padding-left:7px
}

#S1{top:424px; left:187px}
#S2{top:424px; left:260px}
#S3{top:424px; left:333px}
#S4{top:424px; left:406px}
#S5{top:424px; left:479px}

/* buttons */

#testbtn{
	background-image:url('./img/startbtn_rect.gif');
	width:80px;
	height:25px;
	display:none
}
#testbtn:active{
	background-image:url('./img/startbtn_rect_down.gif');
}

#scoredisplay{
	position:absolute;
	top:82px;
	left:34px;
	width: 91px;
	height:27px;
	color:white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size:22px;
}

#freespindisplay{
	position:absolute;
	top: 78px;
	left: 568px;
	width: 60px;
	height: 26px;
	color:white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size:22px;
}

#timerdisplay{
	position:absolute;
	top: 167px;
	left: 572px;
	width: 57px;
	height: 20px;
	color:white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size:16px;
}

#bonuspntdisplay{
	position:absolute;
	top: 305px;
	left: 326px;
	width: 60px;
	height: 26px;
	color:white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size:22px;
	display:none;
	z-index:5
}

#startspinbtn{
	position:absolute;
	top:255px;
	left:575px;
	width: 53px;
	height:53px;
	background-image:url('./img/takespin.gif');
	display:none
	
}

#startgamebtn{
	position:absolute;
	top:255px;
	left:575px;
	width: 53px;
	height:53px;
	background-image:url('./img/startbtn1.gif');
	
}

#disabledspinbtn{
	position:absolute;
	top:255px;
	left:575px;
	width: 53px;
	height:53px;
	background-image:url('./img/spin.gif');
	display:none;
	
}

#yesbtn{
	width:61px;
	height:32px;
	position:absolute;
	top:432px;
	left:402px;
	background-image:url('./img/yesbtn.gif');
}

#nobtn{
	width:61px;
	height:32px;
	position:absolute;
	top:432px;
	left:471px;
	background-image:url('./img/nobtn.gif');
}

#yesbtn:active{ background-image:url('./img/yesbtn_down.gif') }
#nobtn:active{ background-image:url('./img/nobtn_down.gif') }

.questionelements{
	display:none
}

#spindisplay{
	position:absolute;
	top:321px;
	left:581px;
	width: 39px;
	height:39px;
	color:white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size:22px;
}

/* Slingos */
.vertslingos{
	background-image:url('./img/vert_bar.gif');
	width:7px;
	height:251px;
	display:none
}

.horizslingos{
	background-image:url('./img/horiz_bar.gif');
	width:345px;
	height:7px;
	display:none
}

.diagslingos{
	width:336px;
	height:242px;
	display:none
}

#slingo6{position:absolute; top:170px; left:187px}
#slingo7{position:absolute; top:222px; left:187px}
#slingo8{position:absolute; top:275px; left:187px}
#slingo9{position:absolute; top:328px; left:187px}
#slingo10{position:absolute; top:381px; left:187px}

#slingo1{position:absolute; top:155px; left:209px}
#slingo2{position:absolute; top:155px; left:282px}
#slingo3{position:absolute; top:155px; left:355px}
#slingo4{position:absolute; top:155px; left:428px}
#slingo5{position:absolute; top:155px; left:501px}

#slingo11{position:absolute; top:158px; left:190px; background-image:url('./img/diag_bar1.gif')}
#slingo12{position:absolute; top:158px; left:190px; background-image:url('./img/diag_bar2.gif')}

/* overlays */

.overlay{
	width:363px;
	height:264px;
	position:absolute;
	top:146px; 
	left:178px;
	display:none
}

#freespinq{
	position:absolute;
	top:413px;
	left:186px;
	width:360px;
	height:67px
}

#volumebtn {
	width:28px;
	height:27px;
	position:absolute;
	top:401px;
	left:64px;
	background-image:url('./img/volumeon.gif');
}

#volumebtn[off] {
	background-image:url('./img/volumeoff.gif');
}

[scoreoutline] {
	outline: red solid 2px;
}

#restartbtn {
	width:80px;
	height:25px;
	position:absolute;
	top:364px;
	left:35px;
	background-image:url('./img/restartbtn.gif');
}

#restartbtn:active {
	background-image:url('./img/restartbtndepressed.gif');
}

#rulesbtn {
	width:80px;
	height:25px;
	position:absolute;
	top:327px;
	left:35px;
	background-image:url('./img/rulesbtn.gif');
}

#rulesbtn:active, #rulesbtn[depressed] {
	background-image:url('./img/rulesbtndepressed.gif');
}

#rulesframe{ z-index: 100;}